body {
    font-family: "Oxygen", sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 1.375;
 }

h1 {
	font-family: 'Alice', serif;
	font-size: 72px;
	color: #000080;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-bottom: 7px;
}

h2 {
	font-family: 'Alice', serif;
	font-size: 40px;
	color: #A90017;
	text-align: center;
	padding-left: 15px;
}

h3 {
	font-family: 'Alice', serif;
	font-size: 24px;
	color: #A90017;
	text-align: left;	
	padding-left: 30px;
}	

h4 {
	font-family: "Alice", serif;
	font-size: 22px;
	color: black;
	text-align: center;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.header{
	text-align: center;
	background-color:#FFFFE9;
	color: #A5D8F6;
	padding-top: 0;
	padding-bottom: 0;
	border-top:2px solid ##4169E1;
	border-bottom: 2px solid ##4169E1;
}

.banner{
	background-color: #D4ECFB;
	margin: 00 2m;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	outline: none;
}


p {
	font-family: "Oxygen", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: black;
	padding: 10px 10px 15px 30px;
}

.footer {
	font-size: 9px;
}

ul {
	text-align: left;
	}
	
	li {
	font-family: "Alice", serif;
	font-size: 18px;
	text-align: center;
}

img {
	margin: auto;
	width: 750px;
	padding-left: 30px;
	padding-right: 10px;
}

.copyright: {
	font-family: "Oxygen", sans-serif;
	font-size: 9px;
}

*{
	margin-left:0;
	box-sizing: border-box;
}

nav  {
    display: block;
    width: 100%;
    overflow: hidden;
}

nav ul {
    margin: 20px 0 20px 0;
    padding: .7em;
    float: left;
    list-style: none;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: .8em;    
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
}

nav li {
    float:left;
}

nav a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'Oxygen', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);            
 }
 
nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #A90017;
    background: linear-gradient(#A90017, #f8ac00);
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}